<!-- Exercise 1 -->
<div>
<img alt="cute ghost caryying pumpkin"
src="https://media.istockphoto.com/vectors/pumkin-and-kawaii-flying-ghost-in-comic-style-vector-id1175313236?s=170667a"
[width]="280"
[height]="300">
</div>
<hr>

<!-- Exercise 2 -->
<button (click)="onClick()">Click me to log to the console</button>
<hr>

<!-- Exercise 3 -->
<input type="text" [disabled]="isDisabled">
<button (click)="isDisabled = !isDisabled"
>{{ isDisabled ? 'Currently disabled' : 'Currently enabled' }}</button>
<hr>

<!-- Exercsie 4 -->
<h1>{{ title }}</h1>
<input type="text" [(ngModel)]="title">
<hr>

<!-- Exercise 5 -->
<h1>{{ secondTitle }}</h1>
<input (input)="onUpdateName($event)" value={{secondTitle}}>
<hr>

<!-- Exercise 6 -->
<p *ngIf="isShow===true">Show me when isShow is true! Otherwise don't show me!</p>
<hr>

<!-- Exercise 7 -->
<p *ngIf="isShowContent; else noShow">If isShowContent is true show me!</p>
<ng-template #noShow>
<p>Use else to show me!</p>
</ng-template>

<button (click)="isShowContent = !isShowContent">Click me to reverse isShowContent!</button>
<hr>

<!-- Exercise 8 -->
<p [ngStyle]="{backgroundColor: myColor}">This should change when we implement ngStyle!</p>
<hr>

<!-- Exercise 9 -->
<input type="text" [(ngModel)]="changeColor">
<p [ngStyle]="{color: changeColor}">{{ changeColor }}</p>
<hr>

<!-- Exercise 10 -->
<li *ngFor="let food of foods">{{ food }}</li>
